/* 3e */
/* amtVaW1HUzJrcmc */

* { box-sizing: border-box; }


/* footer */

html {height: 100%;}

body {
 margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%; 
  position: relative; 
  padding-bottom: 56px; 
}

/* Breakpoint for Mobile */

@media (max-width:600px) {
body  { padding-bottom: 0px; }
}

.mirage {flex: 1 0 auto;}

footer{position: absolute; left: 0 ; right: 0; bottom: 0; height: 42px;}


.title {width: 100%; height: auto; border: 0;}
